@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.filterButton {
  margin: 10px;
  border: solid 1px gold;
}

#cards-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;

  .card {
    width: 300px;
    margin: 5px;

  }
}

#form-container {
  width: 50%;
  margin: auto;
  justify-content: center;
}

.form-group {
  margin: 10px;
}

.form-select {
  margin: 10px;
}

.form-control {
  margin: 10px;
}

.logo {
  height: 80px;
  width: 400px;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#google-auth {
  margin: 20px;
}

.introHeader {
  font-family: "Lucida Handwriting","Papyrus", cursive;
}

.navbar {
  margin-bottom: 50px !important;
}

#filter-buttons{
  padding-top: 40px;
} 
  